<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoey.dao.BlogDao">

	<resultMap type="Blog" id="BlogResult">
		<result property="blogId" column="blog_id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="author" column="author"/>
		<result property="coverImage" column="cover_image"/>
		<result property="content" column="content"/>
		<result property="readNum" column="read_num"/>
		<result property="favor" column="favor"/>
		<result property="recommend" column="is_recommend"/>
		<result property="projectId" column="project_id"/>
		<result property="typeId" column="type_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<select id="listBlog" parameterType="Map" resultMap="BlogResult">
		select * from blog b
		<if test="tagId!=null">
			LEFT JOIN blog_tag bt ON b.blog_id=bt.blog_id
			LEFT JOIN tag t ON bt.tag_id=t.tag_id
			where t.tag_id=#{tagId}
		</if>
		<where>
			<if test="recommend!=null">
				and is_recommend=#{recommend}
			</if>
			<if test="typeId!=null">
				and type_id=#{typeId}
			</if>
			<if test="projectId!=null">
				and project_id=#{projectId}
			</if>
			<if test="createTime!=null and createTime!=''">
				and Date_format(create_time,'%Y-%m')=#{createTime}
			</if>
			<if test="s_title!=null and s_title!=''">
				and title like #{s_title}
			</if>
		</where>
		<choose>
			<when test="readNum!=null">
				ORDER BY b.read_num desc
			</when>
			<otherwise>
				ORDER BY b.create_time DESC
			</otherwise>
		</choose>

		<if test="start!=null and rows!=null">
			limit #{start} , #{rows}
		</if>

	</select>

	<select id="listFilingDate" resultType="FilingDate">
		SELECT DATE_FORMAT(create_time,'%Y-%m') AS filingDate,COUNT(*) AS total FROM blog GROUP BY DATE_FORMAT(create_time,'%Y-%m')
	</select>

	<select id="getBlogCount" parameterType="Map" resultType="Integer">
		SELECT count(*) from blog b
		<if test="tagId!=null">
			left join blog_tag bt on b.blog_id=bt.blog_id where bt.tag_id=#{tagId}
		</if>
		<where>
			<if test="typeId!=null">
				and type_id=#{typeId}
			</if>
			<if test="projectId!=null">
				and project_id=#{projectId}
			</if>
			<if test="createTime!=null">
				and Date_format(create_time,'%Y-%m')=#{createTime}
			</if>
			<if test="s_title!=null and s_title!=''">
				and title like #{s_title}
			</if>
		</where>
	</select>

	<select id="getBlog" parameterType="Integer" resultMap="BlogResult">
		select * from blog where blog_id=#{blogId}
	</select>



</mapper> 