<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoey.dao.CommentDao">

	<resultMap type="Comment" id="CommentResult">
		<result property="commentId" column="comment_id"/>
		<result property="visitorIp" column="visitor_ip"/>
		<result property="visitorName" column="visitor_name"/>
		<result property="email" column="email"/>
		<result property="visitorImage" column="visitor_image"/>
		<result property="content" column="content"/>
		<result property="blogId" column="blog_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<select id="getCommentCount" parameterType="Integer" resultType="Integer">
		SELECT count(*) from comment
		<where>
			<if test="blogId!=null">
				and blog_id=#{blogId}
			</if>
		</where>
	</select>

	<select id="listComment" parameterType="Map" resultMap="CommentResult">
		SELECT * from comment

		<where>
			<choose>
				<when test="commentList==true">
					and blog_id !=0
				</when>
				<otherwise>
					and blog_id =0
				</otherwise>
			</choose>
			<if test="blogId!=null">
				and blog_id=#{blogId}
			</if>
		</where>
		<if test="start!=null and rows!=null">
			limit #{start},#{rows}
		</if>
	</select>

	<select id="getTotalCommentCount" parameterType="Boolean" resultType="Integer">
		SELECT count(*) FROM comment
		<choose>
			<when test="comment==true">
				WHERE blog_id !=0
			</when>
			<otherwise>
				WHERE blog_id =0
			</otherwise>
		</choose>
	</select>

</mapper> 