<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoey.dao.VisitorDao">

	<resultMap type="Visitor" id="VisitorResult">
		<result property="visitorId" column="visitor_id"/>
		<result property="visitorIp" column="visitor_ip"/>
		<result property="createTime" column="create_time"/>
	</resultMap>

	<select id="getIpCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM visitor WHERE create_time>=DATE_SUB(NOW(),INTERVAL 5 MINUTE) AND visitor_ip=#{visitorIp};
	</select>

	<insert id="addVisitor" parameterType="String">
		INSERT INTO visitor VALUES (null,#{visitorIp},now())
	</insert>

	<select id="getTotalCount" resultType="Integer">
		SELECT COUNT(*) FROM visitor
	</select>

</mapper> 